@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  /* Default sizes + fonts for text-based elements */
  * {
    font-family: "Roboto", sans-serif;
    color: #0b2c53; /* standard text color across page */
  }

  h1 {
    font-size: 4rem; /* 64px */
    line-height: 6rem;
    font-weight: 700;
  }
  h2 {
    font-size: 3.375rem; /* 54px */
    line-height: 5rem;
    font-weight: 700;
  }
  h3 {
    font-size: 2.75rem; /* 44px */
    line-height: 3.625rem;
    font-weight: 600;
  }
  h4 {
    font-size: 2.375rem; /* 38px */
    line-height: 2.625rem;
    font-weight: 500;
  }
  h5 {
    font-size: 2rem; /* 32px */
    line-height: 1.5rem;
    font-weight: 500;
  }
  h6 {
    font-size: 1.625rem; /* 26px */
    line-height: 1.5rem;
    font-weight: 500;
  }
  p {
    font-size: 1rem; /* 16px */
  }
  li {
    font-size: 1rem; /* 16px */
    line-height: 1.1875rem;
  }
  caption {
    font-size: 0.75rem; /* 12px */
  }
}

/* Apply global CSS styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
html {
  overflow-x: hidden;
}

/* Helper classes to reduce wet code */
.hide {
  display: none;
}
.reveal {
  display: block;
}

.dropdownPadding {
  padding-left: 0.75rem /* 12px */;
  padding-right: 0.75rem /* 12px */;
  padding-top: 0.625rem /* 10px */;
  padding-bottom: 0.625rem /* 10px */;
}

.listItemWidth {
  width: 12rem; /* 176px */
}

.layoutContainer {
  margin: auto;
  max-width: 1920px;
  min-width: 360px;
  justify-items: center;
  grid-gap: 0.5rem;
}
